<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: #cdcdcd !important;
        }

        table {
            border-collapse: collapse;
            border: 1px solid;
        }

        td, tr, th {
            border: 1px solid;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">

        function getAllBlog() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/list",
                success: function (a) {
                    console.log(a)
                    displayBlog(a)
                }
            })
        }

        function displayBlog(array) {
            let list = "<table border='1px' class=\"table\">\n" +
                "<tr>\n" +
                "<th> id</th>\n" +
                "<th> title</th>\n" +
                "<th> time</th>\n" +
                "<th> edit</th>\n" +
                "<th> delete</th>\n" +
                "<th> detail</th>\n" +
                "</tr>"
            for (let i = 0; i < array.length; i++) {
                list += "<tr>" + "<td>" + array[i].id + "</td>\n" +
                    " <td>" + array[i].title + "</td>\n" +
                    " <td>" + array[i].time + "</td>\n" +
                    " <td>" + "<button class=\"btn btn-success\" onclick=\"showFormEdit(" + array[i].id + ")\">edit</button>\n" + "</td>" +
                    " <td>" + "<button class=\"btn btn-success\" onclick=\"remote(" + array[i].id + ")\">delete</button>\n" + "</td>" +
                    " <td>" + "<button class=\"btn btn-success\" onclick=\"findOne(" + array[i].id + ")\">detail</button>" + "</td>" +
                    "</tr>"
            }
            list += " </table>"
            document.getElementById("display").innerHTML = list
        }

        function getAllBlogPublic() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/listpublic",
                success: function (a) {
                    console.log(a)
                    displayBlogPublic(a)
                }
            })
        }

        function displayBlogPublic(array) {
            let list = "<table border='1px' class=\"table\" >\n" +
                "<tr>\n" +
                "<th> id</th>\n" +
                "<th> title</th>\n" +
                "<th> time</th>\n" +
                "<th> edit</th>\n" +
                "<th> delete</th>\n" +
                "<th> detail</th>\n" +
                "</tr>"
            for (let i = 0; i < array.length; i++) {
                list += "<tr>" + "<td>" + array[i].id + "</td>\n" +
                    " <td>" + array[i].title + "</td>\n" +
                    " <td>" + array[i].time + "</td>\n" +
                    " <td>" + "<button class=\"btn btn-success\" onclick=\"showFormEdit(" + array[i].id + ")\">edit</button>\n" + "</td>" +
                    " <td>" + "<button class=\"btn btn-success\" onclick=\"remote(" + array[i].id + ")\">delete</button>\n" + "</td>" +
                    " <td>" + "<button class=\"btn btn-success\" onclick=\"findOne(" + array[i].id + ")\">detail</button>" + "</td>" +
                    "</tr>"
            }
            list += " </table>"
            document.getElementById("display").innerHTML = list
        }

        function getOne(array) {
            let list = "<table border='1px' class=\"table\" >\n" +
                "<tr>\n" +
                "<th> id</th>\n" +
                "<th> title</th>\n" +
                "<th> content</th>\n" +
                "<th> time</th>\n" +
                "<th> edit</th>\n" +
                "<th> delete</th>\n" +
                "</tr>"
            list += "<tr>" + "<td>" + array.id + "</td>\n" +
                " <td>" + array.title + "</td>\n" +
                " <td>" + array.content + "</td>\n" +
                " <td>" + array.time + "</td>\n" +
                " <td>" + "<button class=\"btn btn-success\" onclick=\"showFormEdit(" + array.id + ")\">edit</button>\n" + "</td>" +
                " <td>" + "<button class=\"btn btn-success\" onclick=\"remote(" + array.id + ")\">delete</button>\n" + "</td>" +
                "</tr>"
            list += " </table>"
            document.getElementById("display").innerHTML = list
        }

        function findOne(id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/findOne/" + id,
                success: function (a) {
                    getOne(a)
                }
            })
        }

        function remote(id) {
            if (confirm("delete??")) {
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:8080/api/blogs/delete/" + id,
                    success: function (a) {
                        getAllBlog(a)
                    }
                })
            }
        }

        function showFormAdd() {
            let form = '<h1>title</h1>'+'<input placeholder="title"  class="form-control" type="text" id="title">\n' +
                '<h1>content</h1>'+ '<textarea placeholder="content" class="form-control" rows="4" cols="50" id="content"></textarea>\n' +
                '<h1>status</h1>'+'<select class="form-control form-control-lg" id="status" >';
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/status",
                success: function (a) {
                    for (let i = 0; i < a.length; i++) {
                        form += `<option value="${a[i].id}">${a[i].name}</option>`
                    }
                    form += `</select>\n` +
                        '<button class="btn btn-success" onclick="save()">save</button>';
                    document.getElementById("display").innerHTML = form;
                }
            })
            // console.log(form)
        }

        function save() {
            let title = document.getElementById("title").value
            let content = document.getElementById("content").value
            let status = document.getElementById("status").value
            let a = {
                title: title,
                content: content,
                status: {
                    id: status
                }
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/api/blogs/add",
                data: JSON.stringify(a),
                success: function (a) {
                    getAllBlog(a)
                }
            });
        }

        function showFormEdit(id) {
            let edit = ""
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/blogs/findOne/" + id,
                success: function (data) {
                    // console.log(data)
                    edit =  '<h1>title</h1>'+'<input placeholder="title"  class="form-control" type="text"  id="title" value="' + data.title + '">\n' +
                    '<h1>title</h1>'+ '<textarea placeholder="title"  class="form-control"  id="content" >' + data.content + '</textarea>\n' +
                    '<h1>title</h1>'+  '<select class="form-control form-control-lg" id="status">\n';
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/blogs/status",
                        success: function (a) {
                            // console.log(a)
                            for (let i = 0; i < a.length; i++) {
                                edit += `<option value="${a[i].id}">${a[i].name}</option>`
                            }
                            edit += `</select>` +
                                '<button class="btn btn-success" onclick="saveEdit(' + data.id + ')">save</button>';
                            document.getElementById("display").innerHTML = edit;
                        }
                    })
                }
            })
        }

        function saveEdit(id) {
            let title = document.getElementById("title").value
            let content = document.getElementById("content").value
            let status = document.getElementById("status").value
            let a = {
                title: title,
                content: content,
                status: {
                    id: status
                }
            }
            // console.log(a)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                url: "http://localhost:8080/api/blogs/edit/" + id,
                data: JSON.stringify(a),
                success: function (a) {
                    getAllBlog(a)
                }
            });
        }
    </script>
</head>
<body>
<button class="btn btn-success" onclick="getAllBlog()">show list blog</button>
<button class="btn btn-success" onclick="getAllBlogPublic()">show list blog public</button>
<button class="btn btn-success" onclick="showFormAdd()">add</button>
<center>
    <div id="display"></div>
</center>
</body>
</html>